.Clock {
  position: relative;
  width: 540px;
  height: 540px;
  border-radius: 50%;
}

.tick_mark {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  transform-origin: 0 270px;
}

.tick_number {
  position: absolute;
  top: -65px;
  left: 50%;
  transform: translate(-50%, 0) rotate(-90deg);
  font-size: 20px;
  color: white;
}
.timer_slider_wrapper {
  color: white;
}

.timer_slider {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 520px;
  height: 520px;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}

.Clicker {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #d9d9d9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Clicker_box {
  position: absolute;
  width: 250px;
  height: 8px;
  background-color: #d9d9d9;
  top: 50%;
  left: 50%;
  transform-origin: 0 50%;
  transform: translate(0%, -50%);
}

.test {
  position: absolute;
  color: white;
}
